/*  --------- POLICES -------- */
@font-face {
    font-family: 'ralewayregular';
    src: url('font/raleway-regular-webfont.eot');
    src: url('font/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/raleway-regular-webfont.woff2') format('woff2'),
         url('font/raleway-regular-webfont.woff') format('woff'),
         url('font/raleway-regular-webfont.ttf') format('truetype'),
         url('font/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
}
/* -------- ÉLÉMENTS PRINCIPAUX --------- */
body{
    font-family: 'ralewayregular' Arial, Helvetica, sans-serif;
}
h1 h2{
    font-weight: bold;
    width: 500px;
}
#bloc_page{
    padding-left: 25px;
    padding-right: 25px;
}
/* ------- NAVIGATION -------- */

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
}

#menu{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

#logo{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

#logo img{
	height: auto;
}

nav ul{
	list-style-type: none;
	display: flex;
}

nav li{
	margin-right: 70px;
}

nav a{
	color: black;
	text-decoration: none;
}

nav a:hover{
	color: #0065FC;
	border-top: 5px solid #0065FC;
	padding-top: 23px;
}

#inscription{
	color: #0065FC;
	font-weight: bold;
}

/*----- BLOC RECHERCHE --------*/

#recherche h1{
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: -12px;
}

form{
	display: flex;
	border: 1px solid #F2F2F2;
	border-radius: 10px;
	width: 370px;
	height: 40px;
	margin-top: 20px;	
}

.map{
	border: 1px solid #F2F2F2;
	border-radius: 10px 0 0 10px;
	background-color: #F2F2F2;
	padding: 12px 0 0 20px;
	width: 43px;
	height: 27px;
}

input{
	border: none;
	width: 220px;
	height: 40px;
	padding-left: 10px;
	font-weight: bold;
}

#bouton{
	border: none;
	border-radius: 0 10px 10px 0;
	background-color: #0065FC;
	color: white;
	width: 110px;
	font-weight: bold;
}

#search{
	display: none;
}

