/*  --------- POLICES -------- */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

/* -------- ÉLÉMENTS PRINCIPAUX --------- */
body{
    font-family: 'Raleway';
}
h1 h2{
    font-weight: bold;
    width: 500px;
}

/* ------- NAVIGATION -------- */

header{
	display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

#menu{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

#logo{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

nav ul{
	list-style-type: none;
	display: flex;
}

nav li{
	margin-right: 70px;
}

nav a{
	color: black;
	text-decoration: none;
}

nav a:hover{
	color: #0065FC;
	border-top: 5px solid #0065FC;
	padding-top: 23px;
}

#inscription{
	color: #0065FC;
	font-weight: bold;
}

/*----- BLOC RECHERCHE --------*/

#blocrecherche{
        padding-left: 40px;
        padding-right: 40px;
}


#recherche h1{
	font-weight: bold;
	font-size: 1.2em;
    margin-bottom: -12px;

}

form{
    display: flex;
	border: 1px solid #F2F2F2;
	border-radius: 10px;
	width: 370px;
	height: 40px;
	margin-top: 20px;	
}

.map{
	border: 1px solid #F2F2F2;
	border-radius: 10px 0 0 10px;
	background-color: #F2F2F2;
	padding: 12px 7px 0 12px;
	width: 20px;
	height: 27px;
}

input{
	border: none;
	width: 220px;
	height: 40px;
	padding-left: 10px;
	font-weight: bold;
}

#bouton{
	border: none;
	border-radius: 0 10px 10px 0;
	background-color: #0065FC;
	color: white;
	width: 110px;
	font-weight: bold;
}

/* ------- FILTRES ------- */

.filtres {
    display: inline-flex;
    margin-top: 1em;
}

.filtresH4 {
    margin: 2.5em;
    margin-left: 10px;
}

.filtresBackground {
    font-weight: bold;
    display: inline-block;
    margin: 0.6em 0.5em;
    border: 2px solid #e0e0e0;
    border-radius: 2em;
}

.filtresRond {
    display: inline-block;
    background-color: #deebff;
    padding: 1.3em;
    border-radius: 50%;
    color: #0065fc;
}

.filtresRond i {
    font-size: 1.1em;
}

.filtresTitre {
    padding: 0 2em 0 1em;
    color: black;
    font-weight: bold;
}

/* ANIMATION SURVOL SOURIS FILTRES */

.filtresBackground:hover {
    background-color: #deebff;
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

  
/* ------- INFO --------- */

#info{
   display: inline-flex;
   margin-bottom: 1em;

}
.rond_info i{
    color: #0065FC;
    padding-right: 7px;
    border-radius: 50%;
}

.texte_info{
    opacity: 30%;
}


  /* SECTION HEBERGEMENTS */

#hebergements_a_marseille {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 20px;
    padding: 44px 36px 44px 36px;
    max-width: 805px;
    margin-left: 15px;
}
.container_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 15px;
}

#hebergement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 56px;
  }

.titre_hebergements_a_marseille {
    margin: 0px;
    margin-bottom: 21px;

}

.box_carte {
    border: 3px solid white;
    border-radius: 20px;
    padding: 5px 5px 10px 5px;
    background-color: white;
    margin-bottom: 28px;
    height: 200px;
}

.hebergement_image {
    padding-left: 5px;
    padding-right: 5px;
}

.photo_hebergement {
    width: 236px;
    height: 112px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;

}

.hebergement_contenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 16px;
}

.titre_contenu {
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: -19px;
}

.prix_contenu {
    padding-bottom: 2px;
    margin-top: -35px;
}

.hebergement_notation {
    padding-bottom: 11px;
}

.titre_contenu h3{
    font-size: 1em;
}

.hebergement a{
    text-decoration: none;
    color: black;
}
/* -------- ETOILES --------- */

.hebergement_notation{
    color: #0065FC;
}

.fas.fa-star.grey-star {
    color: grey;
}

.hebergement a{
    text-decoration: none;
    color: black;
}

/* ANIMATION SURVOL SOURIS HEBERGEMENT */

.container_item a:hover {
    -webkit-transform: scale(1.05); /* Safari et Chrome */
    -moz-transform: scale(1.05); /* Firefox */
    -ms-transform: scale(1.05); /* Internet Explorer 9 */
    -o-transform: scale(1.05); /* Opera */
    transform: scale(1.05);
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
  